.mainbody {
	display: inline-flex;
background-color: white;
 margin:0 20% 0 20%;
  width: 60%;
  position: relative; bottom: 0px;
    border-image-width: auto;
   
}
#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;

background-image: url(..img/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

z-index: 30;}
 
.contpre small{font-size:25px;}
 
.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#fff;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;}
 
#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(images/oval.svg) center center no-repeat;
background-size:41px;    
margin: -16px 0 0 -16px;}
